@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1hseh0o3 {
    overflow: wrap;
    overflow-wrap: anywhere;
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  ._1hseh0o6 {
    background: var(--_7msrlr70);
    border: 1px solid var(--_7msrlr7b);
    color: var(--_7msrlr6w);
    box-shadow: none;
    font: var(--_7msrlr9s);
    transition: 100ms ease-out;
    transition-property: color, background-color, box-shadow;
  }
  ._1hseh0o5 ._1hseh0o6 {
    padding: 7px;
    border-radius: var(--_7msrlr8u);
  }
  ._1hseh0o4 ._1hseh0o6 {
    padding: 3px 5px;
    border-radius: var(--_7msrlr8t);
  }
  ._1hseh0o5 ._1hseh0o6:not(:last-child) {
    padding-inline-end: 32px;
  }
  ._1hseh0o4 ._1hseh0o6:not(:last-child) {
    padding-inline-end: 26px;
  }
  ._1hseh0o3:hover ._1hseh0o6:is(button) {
    color: var(--_7msrlr6x);
    background: var(--_7msrlr71);
    box-shadow: var(--_7msrlraq);
  }
  ._1hseh0o3 ._1hseh0o6:is(button):active {
    color: var(--_7msrlr6x);
    background: var(--_7msrlr6z);
  }
  ._1hseh0o3._1hseh0o0 ._1hseh0o6, ._1hseh0o3._1hseh0o0 ._1hseh0o6:is(button) {
    color: var(--_7msrlr6v);
    background: var(--_7msrlr75);
    box-shadow: none;
  }
  ._1hseh0o3._1hseh0o0 ._1hseh0o6:is(button) {
    cursor: not-allowed;
  }
  ._1hseh0o3._1hseh0o1 ._1hseh0o6 {
    color: var(--_7msrlr5m);
    border: 1px solid var(--_7msrlr5x);
  }
  ._1hseh0o3._1hseh0o1:hover ._1hseh0o6 {
    color: var(--_7msrlr5n);
  }
  ._1hseh0o6:is(button):focus {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: var(--_7msrlr9i);
  }
  ._1hseh0o6:is(button):focus:not(:focus-visible) {
    outline: none;
  }
  ._1hseh0o3 ._1hseh0o7 {
    position: absolute;
    border-radius: var(--_7msrlr8t);
  }
  ._1hseh0o3._1hseh0o5 ._1hseh0o7 {
    inset-inline-end: 4px;
    inset-block-start: 4px;
  }
  ._1hseh0o3._1hseh0o4 ._1hseh0o7 {
    --y082k10: var(--_7msrlr91);
    inset-inline-end: 2px;
    inset-block-start: 2px;
  }
  ._1hseh0o2 ._1hseh0o7 {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1aqw2v60 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ._1aqw2v61 {
    margin: 0;
    white-space: nowrap;
    color: var(--_7msrlr6x);
    font: var(--_7msrlra9);
    margin-bottom: calc(32px * -1);
    line-height: 32px;
  }
  ._1aqw2v62 {
    min-height: 32px;
  }
  ._1aqw2v63 {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    border: 1px solid var(--_7msrlr7b);
  }
  ._1aqw2v63[data-today="true"]:not([data-outside="true"]):not([data-selected="true"]) {
    color: var(--_7msrlr6g);
    background-color: var(--_7msrlr6k);
  }
  ._1aqw2v63[data-today="true"]::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: var(--_7msrlr8v);
    background-color: currentColor;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
  ._1aqw2v63[data-hidden="true"] {
    visibility: hidden;
    border: 0;
  }
  ._1aqw2v64 {
    border: 0;
    background-color: transparent;
    font: var(--_7msrlr9u);
    height: 30px;
    width: 30px;
  }
  ._1aqw2v64:hover {
    background-color: var(--_7msrlr73);
  }
  ._1aqw2v64:active {
    background-color: var(--_7msrlr74);
  }
  ._1aqw2v64:hover:disabled {
    background-color: transparent;
  }
  [data-selected="true"]:not([data-daymiddle="true"]) ._1aqw2v64 {
    color: var(--_7msrlr63);
    background-color: var(--_7msrlr68);
  }
  [data-daymiddle="true"] ._1aqw2v64 {
    color: var(--_7msrlr62);
    background-color: var(--_7msrlr65);
  }
  [data-daymiddle="true"]:hover ._1aqw2v64 {
    color: var(--_7msrlr63);
    background-color: var(--_7msrlr69);
  }
  [data-daymiddle="true"]:active ._1aqw2v64 {
    background-color: var(--_7msrlr6a);
  }
  [data-selected="true"]:hover ._1aqw2v64 {
    background-color: var(--_7msrlr69);
  }
  [data-selected="true"]:active ._1aqw2v64 {
    background-color: var(--_7msrlr6a);
  }
  ._1aqw2v64:disabled {
    color: var(--_7msrlr6v);
    pointer-events: none;
    font-weight: var(--_7msrlraf);
  }
  ._1aqw2v64:not(:disabled) {
    cursor: pointer;
  }
  ._1aqw2v64:focus {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: -2px;
  }
  ._1aqw2v64:focus:not(:focus-visible) {
    outline: none;
  }
  [data-today="true"]:not([data-outside="true"]):not([data-selected="true"]) ._1aqw2v64 {
    color: var(--_7msrlr6g);
  }
  ._1aqw2v65 {
    display: flex;
  }
  ._1aqw2v66 {
    margin: 0 1em;
  }
  ._1aqw2v66:first-child {
    margin-left: 0;
  }
  ._1aqw2v66:last-child {
    margin-right: 0;
  }
  ._1aqw2v67 {
    margin: 0;
    border-collapse: collapse;
    margin-top: 8px;
  }
  ._1aqw2v68 {
    height: 100%;
  }
  ._1aqw2v69 {
    vertical-align: middle;
    font: var(--_7msrlr9r);
    color: var(--_7msrlr6w);
    text-align: center;
    height: 40px;
    padding: 0;
  }
  ._1aqw2v6a {
    border: 0;
  }
  ._1aqw2v6b {
    margin: 0.5em;
  }
  ._1aqw2v6c {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
  }
  ._1aqw2v6d {
    min-width: 30px;
    text-align: center;
    font-size: 0.75em;
    border: 1px solid var(--_7msrlr7b);
  }
}
._145qckq0 {
  display: flex;
  align-items: center;
  justify-content: center;
}
._145qckq1 {
  color: var(--_7msrlr7s);
}
.CigMda5sS84uAoaW5r_D {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  padding: 0 16px;
  font: var(--font-body-medium-regular);
}

  .CigMda5sS84uAoaW5r_D.Msvl1CzN48BkeebvExdm {
    cursor: pointer;
  }

  .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A {
    position: relative;
    min-width: 16px;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw,
    .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
      width: 10px;
      box-sizing: border-box;
      background-color: var(--color-neutral-bg-accent-subtle-default);
      border: 1px solid var(--color-neutral-border-subtle);
      border-top-width: 0;
      border-bottom-width: 0;
    }

  .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw {
      min-height: 26px;
    }

  .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
      flex: 1;
    }

  .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
      position: absolute;
      top: 24px;
      left: 50%;
      margin-left: -50%;
    }

  .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu i.LjZBJ7nTdjC2UiiqZJbt {
        background: var(--color-neutral-graphic-default);
        border-radius: var(--size-radius-round);
        display: block;
        height: 4px;
        width: 4px;
        margin-left: 6px;
        margin-top: 5px;
      }

  .CigMda5sS84uAoaW5r_D .e3JhKiPmVs1fmdWJA0XB {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 16px;
    margin: var(--size-spacing-xsmall) 0 var(--size-spacing-xsmall) var(--size-spacing-small);
    border-radius: var(--size-radius-small);
    min-width: 0;
  }

  .CigMda5sS84uAoaW5r_D .e3JhKiPmVs1fmdWJA0XB .XJYj9XKOj32yqLICkfwe {
      pointer-events: initial;
      display: flex;
      flex-direction: row;
      color: var(--color-neutral-text-default);
    }

  .CigMda5sS84uAoaW5r_D .e3JhKiPmVs1fmdWJA0XB .XJYj9XKOj32yqLICkfwe > :not(:only-child):last-child {
        margin-left: auto;
        flex-shrink: 0;
        padding-left: 16px;
        color: var(--color-neutral-text-subtle);
      }

  .CigMda5sS84uAoaW5r_D .e3JhKiPmVs1fmdWJA0XB b {
      font-weight: 600;
      color: var(--color-neutral-text-default);
    }

  .CigMda5sS84uAoaW5r_D:first-child .k3rrxi2bge4BQNC_ih8A {
      padding-top: 25px;
    }

  .CigMda5sS84uAoaW5r_D:first-child .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw {
        border-top-left-radius: var(--size-radius-small);
        border-top-right-radius: var(--size-radius-small);
        border-top-width: 1px;
      }

  .CigMda5sS84uAoaW5r_D:last-child .k3rrxi2bge4BQNC_ih8A {
      padding-bottom: 23px;
    }

  .CigMda5sS84uAoaW5r_D:last-child .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
        border-bottom-left-radius: var(--size-radius-small);
        border-bottom-right-radius: var(--size-radius-small);
        border-bottom-width: 1px;
      }

/* Collapsing elements */
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D .e3JhKiPmVs1fmdWJA0XB {
      padding: 16px 54px 16px 16px;
    }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe {
      pointer-events: initial;
      cursor: pointer;
    }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .xX3PLM2rXMGblFaHpUXy {
          display: flex;
        }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .FkTq5u4oIZwPhEyARtF7 {
          display: initial;
        }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB {
      background-color: var(--color-neutral-bg-accent-subtle-default);
      border: 1px solid var(--color-neutral-border-subtle);
      transition: 100ms ease-out;
      transition-property: background-color, box-shadow;
    }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB:hover {
        box-shadow: var(--shadow-elevation-raised);
      }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB .CQIiR_gSI7KN5N22G7En {
        display: none;
      }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.PGKE9HhJHsC3fizTVd15 .e3JhKiPmVs1fmdWJA0XB {
        background-color: var(--color-neutral-bg-accent-subtle-default);
        box-shadow: var(--shadow-elevation-raised);
      }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.PGKE9HhJHsC3fizTVd15 .e3JhKiPmVs1fmdWJA0XB:hover {
          background-color: var(--color-neutral-bg-accent-subtle-default);
        }
.CVu41cgu6hNQTsXOPHdX .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.PGKE9HhJHsC3fizTVd15 .e3JhKiPmVs1fmdWJA0XB .CQIiR_gSI7KN5N22G7En {
          display: initial;
        }

/* Background of "current" row */
.CigMda5sS84uAoaW5r_D.zeZBGh1LeSIZee4jrnWs .e3JhKiPmVs1fmdWJA0XB, .CigMda5sS84uAoaW5r_D.jbisX72wLSqNUlmcIryw .e3JhKiPmVs1fmdWJA0XB, .CigMda5sS84uAoaW5r_D.k1bYqlmGvXjLz67dlj4c .e3JhKiPmVs1fmdWJA0XB {
    background-color: var(--color-info-bg-accent-subtle-default);
  }

/* Handling oddly shaped position icon */
.CigMda5sS84uAoaW5r_D.jbisX72wLSqNUlmcIryw .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu, .CigMda5sS84uAoaW5r_D.k1bYqlmGvXjLz67dlj4c .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
      margin-left: -8px;
      transform: rotate(180deg);
    }

.CigMda5sS84uAoaW5r_D.jbisX72wLSqNUlmcIryw .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
      top: 4px;
    }

.CigMda5sS84uAoaW5r_D.k1bYqlmGvXjLz67dlj4c .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
      top: 20px;
    }

/* Handling tractor-switch item/icon */
.CigMda5sS84uAoaW5r_D.pfolcA7DTrF_1ISvTVWG .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw {
      min-height: 18px;
      margin-bottom: 9px;
    }
.CigMda5sS84uAoaW5r_D.pfolcA7DTrF_1ISvTVWG .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
      margin-top: 8px;
    }
.CigMda5sS84uAoaW5r_D.pfolcA7DTrF_1ISvTVWG .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
      top: 18px;
      left: 3px;
      margin-left: 0;
    }
.CigMda5sS84uAoaW5r_D.pfolcA7DTrF_1ISvTVWG .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu .q6J48YhMwZqOUWi2aPnm {
        fill: var(--color-neutral-border-subtle);
      }
.CigMda5sS84uAoaW5r_D.pfolcA7DTrF_1ISvTVWG .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu .qckWbuQ4dqdkAdXIrQbf {
        fill: var(--color-neutral-bg-accent-subtle-default);
      }

.CigMda5sS84uAoaW5r_D.GJWZVTJ0zKm13MKIljwU + .CigMda5sS84uAoaW5r_D.pfolcA7DTrF_1ISvTVWG .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu .qckWbuQ4dqdkAdXIrQbf.druHhbc0OXK6ULd41DTw {
        fill: var(--color-success-bg-accent-strong-default);
      }

.CigMda5sS84uAoaW5r_D.pfolcA7DTrF_1ISvTVWG.GJWZVTJ0zKm13MKIljwU .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu .qckWbuQ4dqdkAdXIrQbf.cJ0IXvIouUJPtobRHcIj {
        fill: var(--color-success-bg-accent-strong-default);
      }

/* Stop item */
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw {
      min-height: 30px;
    }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
      top: 26px;
      height: 16px;
    }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g:not(.jbisX72wLSqNUlmcIryw) .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
        box-shadow: var(--shadow-elevation-raised);
      }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.wzOLwYJQagccMJALNy6g i.KDD75C0lPXFPhKOVmqLu {
      border-radius: var(--size-radius-small);
    }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.rlss__b7EJ4KHOTN16wI i.KDD75C0lPXFPhKOVmqLu {
      border-radius: var(--size-radius-round);
    }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe {
    min-height: 40px;
    line-height: 16px;
  }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100%;
    }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE > li + li {
        margin-left: 8px;
      }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .zy0_exRygCsrXM6EQsM5 {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        flex: 1 1 0px;
        min-width: 0;
      }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .zy0_exRygCsrXM6EQsM5 .kkiWhpeGSvYL4zFXDFsz {
          margin-top: 4px;
          display: flex;
          color: var(--color-neutral-text-subtle);
          min-width: 0;
        }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .zy0_exRygCsrXM6EQsM5 .kkiWhpeGSvYL4zFXDFsz > span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            min-width: 0;
            flex-shrink: 0;
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .zy0_exRygCsrXM6EQsM5 .kkiWhpeGSvYL4zFXDFsz :last-child {
            flex-shrink: 1;
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .zy0_exRygCsrXM6EQsM5 .kkiWhpeGSvYL4zFXDFsz :not(:first-child) {
            margin-left: 4px;
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .xX3PLM2rXMGblFaHpUXy {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        color: var(--color-neutral-text-subtle);
        flex-shrink: 0;
        height: 100%;
        justify-content: space-between;
      }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .xX3PLM2rXMGblFaHpUXy > *:not(:first-child) {
          margin-top: 3px;
        }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .xX3PLM2rXMGblFaHpUXy.FXYt22KM7DjrOlUq6SH4 .YhHIgnZ4nATYOymFum6U {
            color: var(--color-danger-text-subtle);
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .xX3PLM2rXMGblFaHpUXy.bqLEByEwDXYjTpv6Y6Yb .YhHIgnZ4nATYOymFum6U {
            color: var(--color-success-text-subtle);
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .XJYj9XKOj32yqLICkfwe .avpFXlt0th9OjdgE0FbE .FkTq5u4oIZwPhEyARtF7 {
        display: none;
        width: 30px;
        text-align: center;
      }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB {
    padding: 16px;
  }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB table {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid var(--color-neutral-border-subtle);

      width: 100%;
    }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB table tr td {
          font: var(--font-body-medium-regular);
          vertical-align: top;
          padding: 4px 0;
        }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB table tr td:last-child {
            padding-right: 0;
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB table tr td.tZxi0EYwBV7K3J06771g {
            text-align: right;
            font-weight: 600;
            padding-right: 8px;
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g .e3JhKiPmVs1fmdWJA0XB table tr td:first-child {
            color: var(--color-neutral-text-subtle);
            width: 150px;
          }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.FXYt22KM7DjrOlUq6SH4 .e3JhKiPmVs1fmdWJA0XB table td.xX3PLM2rXMGblFaHpUXy, .CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.bqLEByEwDXYjTpv6Y6Yb .e3JhKiPmVs1fmdWJA0XB table td.xX3PLM2rXMGblFaHpUXy {
          font-weight: 600;
        }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.FXYt22KM7DjrOlUq6SH4 .e3JhKiPmVs1fmdWJA0XB table td.xX3PLM2rXMGblFaHpUXy {
          color: var(--color-danger-text-subtle);
        }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g.bqLEByEwDXYjTpv6Y6Yb .e3JhKiPmVs1fmdWJA0XB table td.xX3PLM2rXMGblFaHpUXy {
          color: var(--color-success-text-subtle);
        }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g:first-child .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw {
        min-height: 20px;
      }
.CigMda5sS84uAoaW5r_D.wzOLwYJQagccMJALNy6g:last-child .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
        display: none;
      }

/* Cancel item */
.CigMda5sS84uAoaW5r_D.cWHfoXUgZ1BED4jfmGtQ .k3rrxi2bge4BQNC_ih8A i.KDD75C0lPXFPhKOVmqLu {
      top: 22px;
      height: 16px;
      border-radius: var(--size-radius-round);
      box-shadow: var(--shadow-elevation-overlay);
    }
.CigMda5sS84uAoaW5r_D.cWHfoXUgZ1BED4jfmGtQ .e3JhKiPmVs1fmdWJA0XB {
    background: var(--color-danger-bg-accent-subtle-default);
  }
.CigMda5sS84uAoaW5r_D.cWHfoXUgZ1BED4jfmGtQ .e3JhKiPmVs1fmdWJA0XB .CQIiR_gSI7KN5N22G7En {
      color: var(--color-neutral-text-subtle);
      margin-top: 3px;
    }
.CigMda5sS84uAoaW5r_D.cWHfoXUgZ1BED4jfmGtQ .e3JhKiPmVs1fmdWJA0XB .CQIiR_gSI7KN5N22G7En p {
        line-height: 20px;
        margin: 0 0 20px 0;
      }
.CigMda5sS84uAoaW5r_D.cWHfoXUgZ1BED4jfmGtQ .e3JhKiPmVs1fmdWJA0XB .CQIiR_gSI7KN5N22G7En p:last-child {
          margin: 0;
        }

/* Departed stops */
.CigMda5sS84uAoaW5r_D.GJWZVTJ0zKm13MKIljwU .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw,
    .CigMda5sS84uAoaW5r_D.GJWZVTJ0zKm13MKIljwU .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
      background-color: var(--color-success-graphic-subtle);
    }

.CigMda5sS84uAoaW5r_D.GJWZVTJ0zKm13MKIljwU + .CigMda5sS84uAoaW5r_D .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw {
      background-color: var(--color-success-graphic-subtle);
    }

/* Tracking items */
.CigMda5sS84uAoaW5r_D.GRtZs78E8WsXa5SPwYC1.GJWZVTJ0zKm13MKIljwU:last-child .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw,
      .CigMda5sS84uAoaW5r_D.GRtZs78E8WsXa5SPwYC1.GJWZVTJ0zKm13MKIljwU:last-child .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
        background-color: var(--color-success-graphic-subtle);
      }

/* When tracking item itself is departed, but the item before it isn't */
.CigMda5sS84uAoaW5r_D:not(.GJWZVTJ0zKm13MKIljwU) + .CigMda5sS84uAoaW5r_D.GRtZs78E8WsXa5SPwYC1.GJWZVTJ0zKm13MKIljwU .k3rrxi2bge4BQNC_ih8A .druHhbc0OXK6ULd41DTw,
    .CigMda5sS84uAoaW5r_D:not(.GJWZVTJ0zKm13MKIljwU) + .CigMda5sS84uAoaW5r_D.GRtZs78E8WsXa5SPwYC1.GJWZVTJ0zKm13MKIljwU .k3rrxi2bge4BQNC_ih8A .cJ0IXvIouUJPtobRHcIj {
      background-color: var(--color-neutral-bg-accent-subtle-default);
    }

.kUUNQqkI69K5gDdMRAxp {
  text-transform: uppercase;
}

.FbpSBvSIjwCakM34Y7b8 {
  min-height: 24px;
}

.rIlpe9dZyvJzKeZOUMCr {
  color: var(--color-neutral-text-subtle);
  line-height: 15px;
}

.rIlpe9dZyvJzKeZOUMCr:hover {
    color: var(--color-info-text-default);
  }

.HjoUjKw_htuH9kDkVkuf {
  padding: 0 var(--size-spacing-xsmall);
}

.f9uYtCqMSUKWFq4RaK0C {
  margin-top: var(--size-spacing-medium);
}

.dknZ9kI6MzeQBNL_5b6K {
  color: var(--color-info-text-default);
}

@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1h1jbg22 {
    border-right: 1px solid var(--_7msrlr7b);
  }
  ._1h1jbg22._1h1jbg21 {
    padding-block-start: var(--_7msrlr9l);
  }
  ._1h1jbg23 {
    min-height: fit-content;
    padding-top: 68px;
  }
  ._1h1jbg21 + ._1h1jbg23 {
    padding-top: 20px;
  }
  ._1h1jbg24 {
    flex: 1;
    margin-top: -14px;
  }
  ._1h1jbg21 + ._1h1jbg23 ._1h1jbg24 {
    margin-top: 10px;
  }
  ._1h1jbg25 {
    color: var(--_7msrlr6w);
    font: var(--_7msrlr9r);
  }
  ._1h1jbg26 {
    padding: 2px !important;
    height: var(--_7msrlr97);
    width: var(--_7msrlr9b);
  }
  ._1h1jbg27 {
    width: var(--_7msrlr9b);
    height: 30px;
    font: var(--_7msrlr9w);
    font-size: var(--_7msrlr8f);
    padding: 0;
    text-align: center;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
  }
  ._1h1jbg27[aria-invalid=true] {
    background-color: var(--_7msrlr5q);
    border-color: var(--_7msrlr5x);
  }
  ._1h1jbg29 {
    font: var(--_7msrlr9w);
  }
  ._1h1jbg2a {
    border-top: 1px solid var(--_7msrlr7b);
  }
  ._1h1jbg2b {
    margin: 0;
  }
  ._1h1jbg2c {
    height: 24px;
    width: 32px;
  }
  ._1h1jbg2d {
    font: var(--_7msrlr9r);
    color: var(--_7msrlr6w);
  }
  ._1h1jbg2e {
    font: var(--_7msrlr9t);
    color: var(--_7msrlr6x);
  }
  ._1h1jbg2e._1h1jbg20 {
    color: var(--_7msrlr5m);
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  .r1ro4c4 {
    min-width: 0;
  }
  .r1ro4c5 {
    position: relative;
    flex-grow: 1;
    border-radius: var(--_7msrlr8u);
    background-color: var(--_7msrlr70);
    border: 1px solid var(--_7msrlr7c);
    max-width: 100%;
  }
  .r1ro4c5:focus-within, .r1ro4c2 .r1ro4c5 {
    border-color: var(--_7msrlr7c);
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: var(--_7msrlr9i);
  }
  .r1ro4c0 .r1ro4c5 {
    background-color: var(--_7msrlr5q);
    border-color: var(--_7msrlr5x);
  }
  .r1ro4c1 .r1ro4c5 {
    background-color: var(--_7msrlr75);
    border-color: var(--_7msrlr7b);
  }
  .r1ro4c6 {
    margin-inline-end: -3px;
    margin-inline-start: 11px;
    pointer-events: none;
    color: var(--_7msrlr6t);
  }
  .r1ro4c3 .r1ro4c6 {
    margin-inline-end: 0;
    margin-inline-start: 7px;
  }
  .r1ro4c1 .r1ro4c6 {
    color: var(--_7msrlr6v);
  }
  .r1ro4c7 {
    position: absolute;
    inset-inline-end: 11px;
    pointer-events: none;
    color: var(--_7msrlr6t);
  }
  .r1ro4c3 .r1ro4c7 {
    inset-inline-end: 7px;
  }
  .r1ro4c1 .r1ro4c7 {
    color: var(--_7msrlr6v);
  }
  .r1ro4c8 {
    position: absolute;
    inset-inline-end: 35px;
  }
  .r1ro4c3 .r1ro4c8 {
    inset-inline-end: 31px;
  }
  .r1ro4c9 {
    display: flex;
    gap: var(--_7msrlr9k);
    box-sizing: border-box;
    padding: 9px 11px;
    margin: 0;
    background: transparent;
    outline: none;
    font: var(--_7msrlr9t);
    color: var(--_7msrlr6x);
    cursor: default;
    min-width: 0;
    flex-grow: 1;
  }
  .r1ro4c7 ~ .r1ro4c9 {
    padding-inline-end: 35px;
  }
  .r1ro4c3 .r1ro4c9 {
    padding: 5px 7px;
  }
  .r1ro4c3 .r1ro4c7 ~ .r1ro4c9 {
    padding-inline-end: 31px;
  }
  .r1ro4c8 ~ .r1ro4c9 {
    padding-inline-end: 67px;
  }
  .r1ro4c3 .r1ro4c8 ~ .r1ro4c9 {
    padding-inline-end: 61px;
  }
  .r1ro4c1 .r1ro4c9 {
    color: var(--_7msrlr6v);
  }
  .r1ro4ca {
    font: var(--_7msrlr9u);
    color: var(--_7msrlr6x);
    flex-shrink: 0;
    flex-grow: 0;
    padding: 9px 0 9px 11px;
    margin-inline-end: -7px;
    -webkit-user-select: none;
            user-select: none;
  }
  .r1ro4c0 .r1ro4ca {
    color: var(--_7msrlr5m);
  }
  .r1ro4c1 .r1ro4ca {
    color: var(--_7msrlr6v);
  }
  .r1ro4c3 .r1ro4ca {
    padding: 5px 0 5px 7px;
    margin-inline-end: -3px;
  }
  .r1ro4cb {
    display: block;
    height: var(--_7msrlr8l);
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
            user-select: none;
  }
  .r1ro4c1 .r1ro4cb {
    color: var(--_7msrlr6v);
  }
  .r1ro4cc {
    position: absolute;
    pointer-events: none;
    inset-block-start: 0;
    inset-inline-end: 3px;
  }
  .r1ro4cd {
    color: var(--_7msrlr6w);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .r1ro4c1 .r1ro4cd {
    color: var(--_7msrlr6v);
  }
  .r1ro4cp {
    box-sizing: border-box;
    overflow: auto;
    max-height: max(var(--r1ro4cg), 100px);
    background-color: var(--_7msrlr72);
    color: var(--_7msrlr6x);
    z-index: var(--_7msrlrau);
    box-shadow: var(--_7msrlrar);
    border-radius: var(--_7msrlr8u);
    text-align: left;
    scroll-padding-block: var(--_7msrlr9l);
    outline: none;
  }
  .r1ro4cp:is(.r1ro4cj, .r1ro4ck) {
    transition: 100ms ease-in-out;
    transition-property: transform, opacity;
  }
  .r1ro4cp:is(.r1ro4ci, .r1ro4ck) {
    opacity: 0;
  }
  .r1ro4cp.r1ro4cn:is(.r1ro4ci, .r1ro4ck) {
    transform: translateX(var(--_7msrlr9k));
  }
  .r1ro4cp.r1ro4co:is(.r1ro4ci, .r1ro4ck) {
    transform: translateX(calc(var(--_7msrlr9k) * -1));
  }
  .r1ro4cp.r1ro4cl:is(.r1ro4ci, .r1ro4ck) {
    transform: translateY(var(--_7msrlr9k));
  }
  .r1ro4cp.r1ro4cm:is(.r1ro4ci, .r1ro4ck) {
    transform: translateY(calc(var(--_7msrlr9k) * -1));
  }
  .r1ro4cq {
    padding: var(--_7msrlr9l);
  }
  .r1ro4cr {
    padding: var(--_7msrlr9m);
  }
  .r1ro4cs {
    width: auto;
  }
  .r1ro4ct {
    width: var(--r1ro4ce);
  }
  .r1ro4cu {
    width: auto;
    min-width: min(120px, var(--r1ro4cf));
    max-width: min(200px, var(--r1ro4cf));
  }
  .r1ro4cv {
    width: auto;
    min-width: min(200px, var(--r1ro4cf));
    max-width: min(320px, var(--r1ro4cf));
  }
  .r1ro4cw {
    width: auto;
    min-width: min(320px, var(--r1ro4cf));
    max-width: min(400px, var(--r1ro4cf));
  }
  @media (prefers-reduced-motion: reduce) {
    .r1ro4cp:is(.r1ro4cj, .r1ro4ck) {
      transition-duration: 0ms;
    }
  }
}
._2z4kfp0 {
  padding: var(--_7msrlr9m);
  background-color: var(--_7msrlr75);
  border: 1px solid var(--_7msrlr7b);
  border-radius: var(--_7msrlr8u);
}
._1h90ot50 {
  padding: var(--_7msrlr9m);
  background-color: var(--_7msrlr75);
  border: 1px solid var(--_7msrlr7b);
  border-radius: var(--_7msrlr8u);
}
._1h90ot51 {
  padding-block: var(--_7msrlr9k);
}
._1h90ot52 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--_7msrlr99);
  height: var(--_7msrlr99);
  background: var(--_7msrlr75);
  border-radius: var(--_7msrlr8v);
}
._1h90ot53 {
  padding-block: 2px;
}
._1h90ot54 {
  color: var(--_7msrlr6t);
}
._1h90ot55 {
  padding-block-start: 10px;
}
._1h90ot56 {
  padding-block-start: var(--_7msrlr9k);
}
._1h90ot56 textarea {
  word-break: break-all;
}
.K_DZWZvWnnQNBElneXKu {
  border: 1px solid var(--color-neutral-border-subtle);
  background-color: var(--color-neutral-bg-accent-subtle-default);
  transition: 100ms ease-out;
  transition-property: background-color, box-shadow;
  cursor: pointer;
}

  .K_DZWZvWnnQNBElneXKu:hover {
    box-shadow: var(--shadow-elevation-raised);
  }

  .K_DZWZvWnnQNBElneXKu .gX1hcp35eMW7obfPW4xg {
    display: none;
    padding-block-start: var(--size-spacing-small);
    cursor: default;
  }

  .K_DZWZvWnnQNBElneXKu.SQ9fjzkpVBMP6qF8tA9m {
    box-shadow: var(--shadow-elevation-raised);
  }

  .K_DZWZvWnnQNBElneXKu.SQ9fjzkpVBMP6qF8tA9m .gX1hcp35eMW7obfPW4xg {
      display: initial;
    }

.PWGWD4aosBRd7Q8t6OJQ {
  display: flex;
  color: var(--color-neutral-text-subtle);
  min-width: 0;
  max-width: 500px;
}

.PWGWD4aosBRd7Q8t6OJQ > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    flex-shrink: 0;
  }

.PWGWD4aosBRd7Q8t6OJQ :last-child {
    flex-shrink: 1;
  }

.PWGWD4aosBRd7Q8t6OJQ :not(:first-child) {
    margin-left: 4px;
  }

.ShMzuPXQRoESLIpUXOrz:hover {
    background-color: var(--color-neutral-bg-surface-flat);
    border-color: var(--color-neutral-border-subtle);
    box-shadow: var(--shadow-elevation-raised);
  }

.ShMzuPXQRoESLIpUXOrz:active {
    background-color: var(--color-neutral-bg-accent-subtle-active);
    border-color: var(--color-neutral-border-subtle);
    box-shadow: var(--shadow-elevation-raised);
  }

.pmck4XAM2iPVQ0huUltQ {
  text-align: center;
  font: var(--font-body-medium-regular);
}

.d9qnQ5EsyhAGXck258Sm {
  font: var(--font-body-large-bold);
}

.VHhfIwNKqAUrFakjaogL {
  margin-top: var(--size-spacing-xsmall);
  margin-bottom: var(--size-spacing-xsmall);
}

@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1toigxu0 {
    font: var(--_7msrlr9t);
    min-width: 0;
  }
  ._1toigxu1 {
    max-width: 100%;
  }
  ._1toigxu4 {
    font: var(--_7msrlr9u);
    background-color: var(--_7msrlr72);
    box-shadow: var(--_7msrlrar);
    border-radius: var(--_7msrlr8u);
    position: absolute;
    min-width: 100%;
    width: 100%;
    z-index: var(--_7msrlrau);
    overflow: hidden;
  }
  ._1toigxu5 {
    bottom: calc(100% + var(--_7msrlr9k));
  }
  ._1toigxu6 {
    top: calc(100% + var(--_7msrlr9k));
  }
  ._1toigxu7 {
    display: flex;
    flex-direction: column;
    gap: var(--_7msrlr9k);
    overflow-y: auto;
    position: relative;
    padding: var(--_7msrlr9l);
  }
  ._1toigxub {
    outline: none;
    background-color: transparent;
    color: inherit;
    font: var(--_7msrlr9u);
    padding: 6px var(--_7msrlr9l);
    padding-inline-end: calc((var(--_7msrlr9m) * 2) + var(--_7msrlr9l));
    border-radius: var(--_7msrlr8u);
    width: 100%;
    -webkit-user-select: none;
            user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  ._1toigxub:is(._1toigxu8) {
    color: var(--_7msrlr6x);
    background-color: var(--_7msrlr73);
  }
  ._1toigxub:is(._1toigxu9) {
    cursor: default;
    color: var(--_7msrlr62);
    background-color: var(--_7msrlr65);
  }
  ._1toigxub:is(._1toigxua) {
    cursor: default;
    color: var(--_7msrlr6v);
    background-color: transparent;
  }
  ._1toigxuc {
    display: flex;
    gap: var(--_7msrlr9l);
    box-sizing: border-box;
    align-items:  center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: var(--_7msrlr70);
    border: 1px solid var(--_7msrlr7c);
    border-radius: var(--_7msrlr8u);
    transition: border-color 100ms ease-in-out;
    padding: calc(((var(--_7msrlr99) - var(--_7msrlr8l)) - (1px * 2)) / 2) calc(var(--_7msrlr90) - 1px);
  }
  ._1toigxuc:hover {
    border-color: var(--_7msrlr7c);
  }
  ._1toigxuc:is(._1toigxu8), ._1toigxuc:is(._1toigxu8):hover {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: var(--_7msrlr9i);
    border-color: var(--_7msrlr7c);
  }
  ._1toigxu2 ._1toigxuc {
    padding: calc(((var(--_7msrlr9b) - var(--_7msrlr8l)) - (1px * 2)) / 2) calc(var(--_7msrlr91) - 1px);
  }
  ._1toigxu3 ._1toigxuc {
    border-color: var(--_7msrlr5x);
    background-color: var(--_7msrlr5q);
  }
  ._1toigxua ._1toigxuc {
    background-color: var(--_7msrlr75);
    border-color: var(--_7msrlr7b);
  }
  ._1toigxud {
    color: var(--_7msrlr6w);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  ._1toigxua ._1toigxud {
    color: var(--_7msrlr6v);
  }
  ._1toigxue {
    color: var(--_7msrlr6w);
    cursor: default;
    display: block;
    font: var(--_7msrlr9r);
    padding: var(--_7msrlr9l) var(--_7msrlr9m);
    width: 100%;
    -webkit-user-select: none;
            user-select: none;
    box-sizing: border-box;
    text-align: center;
  }
  ._1toigxuf {
    position: sticky;
    bottom: calc(var(--_7msrlr9l) * -1);
    margin-top: var(--_7msrlr9l);
    margin-inline: calc(var(--_7msrlr9l) * -1);
    margin-bottom: calc(var(--_7msrlr9l) * -1);
    background-color: var(--_7msrlr72);
    border-top: 1px solid var(--_7msrlr7b);
    padding: var(--_7msrlr9l);
  }
  ._1toigxug {
    color: var(--_7msrlr6x);
    background-color: inherit;
  }
  ._1toigxug:hover {
    background-color: var(--_7msrlr73);
  }
  ._1toigxuh {
    flex: 1;
    width: 0;
  }
  ._1toigxuc._1toigxu8 ._1toigxuh {
    min-width: var(--_7msrlr9f);
  }
  ._1toigxui {
    flex: 1;
    width: 100%;
    min-width: 0;
  }
  ._1toigxuj {
    margin: -2px -4px;
  }
  ._1toigxuk {
    position: sticky;
    top: calc(var(--_7msrlr9l) * -1);
    margin-top: calc(var(--_7msrlr9l) * -1);
    background-color: var(--_7msrlr72);
  }
  ._1toigxul {
    position: sticky;
    bottom: calc(var(--_7msrlr9l) * -1);
    margin-bottom: calc(var(--_7msrlr9l) * -1);
    background-color: var(--_7msrlr72);
  }
  ._1toigxua ._1toigxum {
    color: var(--_7msrlr6v);
  }
  ._1toigxun {
    position: absolute;
    inset-inline-end: var(--_7msrlr9m);
    color: var(--_7msrlr5y);
    height: var(--_7msrlr8l);
    opacity: 0;
  }
  ._1toigxub:not(._1toigxua):not(._1toigxu9):hover ._1toigxun {
    opacity: 0.3;
  }
  ._1toigxu9 ._1toigxun {
    opacity: 1;
  }
  ._1toigxuo {
    position: absolute;
    pointer-events: none;
    inset-block-start: 0;
    inset-inline-end: 3px;
  }
}
.fMp1Vb8kDzKhKCM7dUcR,
.Cq4pm4AcV2m2_SPIDhgh {
  border-radius: var(--size-radius-small);
  padding: 12px;
  display: flex;
}

  .fMp1Vb8kDzKhKCM7dUcR .eR4EdiSRTBWkhpsoH61w, .Cq4pm4AcV2m2_SPIDhgh .eR4EdiSRTBWkhpsoH61w {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  .fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN, .Cq4pm4AcV2m2_SPIDhgh .VU4WhpsoKJVvaGt2dKEN {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    overflow: hidden;
    text-align: left;
  }
.fMp1Vb8kDzKhKCM7dUcR {
  background-color: var(--color-warning-bg-accent-subtle-default);
  border: 1px solid var(--color-warning-border-subtle);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
}
.fMp1Vb8kDzKhKCM7dUcR .eR4EdiSRTBWkhpsoH61w {
    margin-top: 2px;
    flex-shrink: 0;
    flex-grow: 0;
    color: var(--color-warning-graphic-subtle);
  }
.fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN {
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: stretch;
  }
.fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN h1 {
      font: var(--font-body-medium-bold);
      color: var(--color-neutral-text-default);
      margin: 0;
      padding: 0;
    }
.fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN h1.BfJmLPMIGZUOfBhAFQ1g {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
.fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN .sd9dvifrfGJBvSXZEzr2 {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }
.fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN .sd9dvifrfGJBvSXZEzr2 h1 {
        margin: 0;
        padding: 0;
      }
.fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN .sd9dvifrfGJBvSXZEzr2 span {
        font: var(--font-body-medium-regular);
        margin: 0;
        padding: 0;
        margin-top: 6px;
        color: var(--color-neutral-text-default);
      }
.fMp1Vb8kDzKhKCM7dUcR .VU4WhpsoKJVvaGt2dKEN .sd9dvifrfGJBvSXZEzr2 + .sd9dvifrfGJBvSXZEzr2 {
        margin-top: 24px;
      }
.fMp1Vb8kDzKhKCM7dUcR.xOkDWYki4OFsx3ie3q94 {
    cursor: pointer;
  }
.fMp1Vb8kDzKhKCM7dUcR.xOkDWYki4OFsx3ie3q94 .VU4WhpsoKJVvaGt2dKEN {
      margin-right: 12px;
    }

.Cq4pm4AcV2m2_SPIDhgh {
  background-color: var(--color-info-bg-accent-subtle-default);
  border: 1px solid var(--color-info-border-subtle);
  font: var(--font-body-medium-regular);
}

.Cq4pm4AcV2m2_SPIDhgh .VU4WhpsoKJVvaGt2dKEN span {
      color: var(--color-neutral-text-default);
    }

.Cq4pm4AcV2m2_SPIDhgh .eR4EdiSRTBWkhpsoH61w {
    color: var(--color-info-graphic-subtle);
  }


/*# sourceMappingURL=4231.90efcc0177ef31a339ea.css.map*/