.zLiJhwWfJkE05iS7GPZT {
  max-width: calc(var(--size-spacing-small) * 18);
}

.qYLEh6L2B_cjuFxD7CrQ {
  max-width: calc(var(--size-spacing-small) * 14);
  min-width: fit-content;
}

.ljyAWuGaQF1ZmC73WslE {
  width: 100%;
  min-width: 304px;
}

.h3xb4ziwf66tuzgbMGH6 {
  width: calc(var(--size-spacing-small) * 8);
}

.cpftxn0 {
  min-width: 304px;
}
.cpftxn1 {
  min-width: fit-content;
}
.cpftxn2 {
  width: calc(var(--_7msrlr9l) * 8);
}
.cpftxn3 {
  align-self: end;
}
.cpftxn4 {
  font-size: var(--_7msrlr8c);
  color: var(--_7msrlr6w);
  margin-top: var(--_7msrlr9l);
}
.ciX8S87YasbPJBGg9Hy6 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

  .ciX8S87YasbPJBGg9Hy6 .JRhkZ9megwslrZEzEOWw {
    font: var(--font-title-xlarge);
    margin-top: 30px;
    text-align: center;
  }

  .ciX8S87YasbPJBGg9Hy6 .FFF2yJnhgN5D7W97IPMH {
    font: var(--font-body-medium-regular);
    margin-top: 20px;
    margin-bottom: 30px;
  }

.Z5Ayj_VrT6haVYlnf7si {
  font-weight: 600;
  color: var(--color-danger-text-default);
}

/* Filter contents */
.Fm8yxYd4RrA6AdGdSqIx {
  max-width: 440px;
  width: 440px;
}
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju {
    background: var(--color-neutral-bg-surface-flat);
  }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .r4kZe_c18_LtWQwxcpEY {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--size-spacing-medium);

      font: var(--font-body-medium-bold);
    }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM {
      max-height: 60vh;
      overflow-y: scroll;
      background: var(--color-neutral-bg-surface-sunken);
      border-radius: inherit;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .dpDxnyBGfq6QoZIlje9F {
        padding: 10px 15px;
        font: var(--font-body-small-regular);
      }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .dpDxnyBGfq6QoZIlje9F:not(:first-child) {
          margin-top: 10px;
        }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .dpDxnyBGfq6QoZIlje9F:not(:last-child) {
          border-bottom: 1px solid var(--color-neutral-border-subtle);
        }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .lYywdkNzneyagYhEzRmN:first-child {
          border-top: 1px solid var(--color-neutral-border-subtle);
        }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .lYywdkNzneyagYhEzRmN:not(:last-child) {
          border-bottom: 1px solid var(--color-neutral-border-subtle);
        }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .lYywdkNzneyagYhEzRmN .BUgd1BEdw0FgovnxEjS4 {
          padding: 10px 15px;
        }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .lYywdkNzneyagYhEzRmN .dbYHIGeneNFkVJa2IANK {
          padding: 0 15px 15px 15px;
        }
.Fm8yxYd4RrA6AdGdSqIx .vMnQZChwbTw30JPjM0ju .wC7JsPMAAL1SrnaazXlM .lYywdkNzneyagYhEzRmN .dbYHIGeneNFkVJa2IANK .QRxsTy3GZmOm2MmQfAcn {
            padding-left: 20px;
          }

._118fkyc0 {
  border-bottom: 1px solid var(--_7msrlr7b);
}
._118fkyc1 {
  max-height: 60vh;
  overflow-y: scroll;
  background: var(--_7msrlr6z);
  padding: var(--_7msrlr9m);
  border-bottom-left-radius: var(--_7msrlr8u);
  border-bottom-right-radius: var(--_7msrlr8u);
}
._118fkyc2 {
  background: var(--_7msrlr75);
  padding: var(--_7msrlr9m);
  border-radius: var(--_7msrlr8u);
}
._118fkyc3 {
  border-left: 1px solid var(--_7msrlr7b);
}
._118fkyc4 {
  min-height: 32px;
}
.Op8douy7w972aJ1LRdLf {
  margin-top: 10px;
  border-radius: var(--size-radius-small);
}

.kvQ0Snu0FgK6ObnE0V9g {
  color: var(--color-neutral-text-default);
}

.zdt7hEoNuyTqDPhVCjyT {
  margin-top: var(--size-spacing-small);
}

.h3Td6TPitwF3qdUVnZ3k {
  padding: var(--size-spacing-xsmall) var(--size-spacing-small);
}

.lL7X6_5ZmiXZK66y5PGa {
  padding-right: 48px;
}
.gqVvYyXeRpkJl_VSaGjA {
  gap: var(--size-spacing-medium);
}
.L8pAOQNlpGcxPFwLHU6y {
  gap: 64px;
}
.EmZf4w1an0uDuV_YJuJU {
  width: 100%;
}
.sejEnTArwljteblk648v {
  width: 100%;
  max-width: 360px;
}
.IUp4BSIqsz2PYA_keO6X {
  gap: 64px;
}
.pTcTVaADZtL3H_QPju3w {
  font: var(--font-body-medium-bold);
}
.YjK6Pvq5IdN16ZXE0Shy {
  font: var(--font-body-medium-regular);
}
.NNM6K9SU2kwgsb_brsQA {
  min-width: 750px;
}
.NNM6K9SU2kwgsb_brsQA .tUkn9FLpN4jk3RTkJ95t {
    display: flex;
    flex-wrap: nowrap;
  }

.NBNr0CaMiYFqeQAx7Ko4 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 360px;
}

.NBNr0CaMiYFqeQAx7Ko4 .oyZdZiCUoJtR9FrCZghO {
    max-height: 32px;
  }

.t_CQ5HUUR4fx6oXZGGAf {
  width: 116px;
}
.UP_hgI3QJ98kPo7KoyDO {
  width: 108px;
}

.V50kLlrzNwLYOv5BWQbn {
  border-left: 1px solid var(--color-neutral-border-subtle);
  padding-left: var(--size-spacing-medium);
}

.v53bd5IKR9npaMwzQkdi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--widget-width-small) * 1px), 1fr));
}

  @media (max-width: 1279px) {.v53bd5IKR9npaMwzQkdi {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--widget-width-smallest) * 1px), 1fr))
}
  }

.N109ahhRVXdwbIfLWoyM {
  background: var(--color-neutral-bg-surface-flat);
  background-image: linear-gradient(
    to bottom,
    var(--color-neutral-bg-accent-subtle-default),
    var(--color-neutral-bg-accent-subtle-default)
  );
  border: 1px solid var(--color-neutral-border-subtle);
  width: 100%;
  padding: 0 var(--size-spacing-medium) var(--size-spacing-medium) var(--size-spacing-medium);
  box-sizing: border-box;
  height: 144px;
}

.BeFfVvic0i1xc73ihHf0 {
  transition: 100ms ease-out;
  transition-property: background-color, border-color, box-shadow;
}

.BeFfVvic0i1xc73ihHf0:hover {
    background-color: var(--color-neutral-bg-surface-raised);
    box-shadow: var(--shadow-elevation-raised);
  }

.BeFfVvic0i1xc73ihHf0:hover .TpWmUlDdNUvOueV81ivK svg {
      fill: var(--color-neutral-graphic-subtle);
      cursor: grab;
    }

.dQF44HqFmIR_boekr0Oy {
  background-color: var(--color-neutral-bg-surface-overlay);
  box-shadow: var(--shadow-elevation-overlay);
}

.dQF44HqFmIR_boekr0Oy .TpWmUlDdNUvOueV81ivK svg {
    fill: var(--color-neutral-graphic-default);
    cursor: grabbing;
  }

.TpWmUlDdNUvOueV81ivK {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
}

.TpWmUlDdNUvOueV81ivK div {
    display: flex;
    border-radius: var(--size-radius-small);
  }

.TpWmUlDdNUvOueV81ivK svg {
    fill: none;
    transition: fill 100ms ease-out;
  }

.TpWmUlDdNUvOueV81ivK:focus-within div {
      outline: 2px solid var(--color-focus-outline);
      outline-offset: 1px;
    }

.TpWmUlDdNUvOueV81ivK:focus-within svg {
      fill: var(--color-neutral-graphic-default);
      cursor: grab;
    }

.jUDJB4U7Rjl3B3kOrz_W {
  display: flex;
  height: 40px;
  vertical-align: middle;
  align-items: center;
  flex-wrap: nowrap;
}

.jUDJB4U7Rjl3B3kOrz_W .wDFbOPdV2xzoqLHt5zcx {
    font: var(--font-body-medium-bold);
    color: var(--color-neutral-text-default);
    align-items: center;
    width: calc(100% - 32px - 16px);
    overflow-y: hidden;
    max-height: 40px;
  }

.jUDJB4U7Rjl3B3kOrz_W .VB7BdNQkhRLwYndYiFDV {
    color: var(--color-neutral-graphic-default);
  }

.Qv9M_3zI6_0fLBoBrRWZ {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--size-spacing-xsmall);
}

.JkTQwAEQrpa6QNpWbMmT {
  display: flex;
  align-items: center;
}

.JkTQwAEQrpa6QNpWbMmT label {
    margin-left: 10px;
  }

.YbFK1BxeKSnxKKxcnhoW {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px dashed var(--color-neutral-border-default);
  width: 100%;
  height: 138px;
  border-radius: var(--size-radius-small);
}

.gCH9ZtVnHWPnEf7SvaNv {
  margin-left: calc(var(--widget-row-margin) * 1px);
  margin-right: calc(var(--widget-row-margin) * 1px);
  gap: calc(var(--widget-margin) * 1px);
}

.aRxYtwsTtkAoqJ4YO209 {
  height: 144px;
  width: 100%;
  border: 1px solid var(--color-neutral-border-subtle);
  color: var(--color-neutral-text-subtle);
}

.aRxYtwsTtkAoqJ4YO209:not(:disabled):hover {
    color: var(--color-neutral-text-default);
  }

.aRxYtwsTtkAoqJ4YO209:not(:disabled):active {
    color: var(--color-neutral-text-default);
  }

.ShI21SN4Gg_tDQhKqdKl {
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}

.SaZjcYoIyGyeqT61fy55 {
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.SaZjcYoIyGyeqT61fy55 .ls7fVS626HkMQiRDV5nR {
    font: var(--font-display-large);
    color: var(--color-neutral-text-default);
    margin-right: var(--size-spacing-medium);
    margin-top: var(--size-spacing-xsmall);
  }

.SaZjcYoIyGyeqT61fy55 .EUWYf5o9Ios2sjrROBF1 {
    font: var(--font-body-small-regular);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--color-neutral-text-subtle);
    flex-wrap: wrap;
    margin: 16px calc(-1 * var(--size-spacing-small)) 0px;
    list-style: none;
    clip-path: inset(0 6px 0 0);
  }

.SaZjcYoIyGyeqT61fy55 .mpgZGIi4n2SsyL3szvv0:after {
      color: var(--color-neutral-text-default);
      content: '\00B7';
      margin-left: var(--size-spacing-xsmall);
    }
._7lQSi33SvdX2h9tyw7f {
  font-weight: 600;
}
._7lQSi33SvdX2h9tyw7f.nakZc7eEiisstHe0zvnV {
    color: var(--color-danger-text-subtle);
  }
._7lQSi33SvdX2h9tyw7f.Hf8bxlTlH8irStgW6TXk {
    color: var(--color-success-text-subtle);
  }
._7lQSi33SvdX2h9tyw7f.yK_uqdYOonCPHdjwxNw_ {
    color: var(--color-neutral-text-subtle);
  }

.J_cCX8F3W5s0pXAGU0vh {
  font: var(--font-body-small-bold);
  color: var(--color-neutral-text-default);
  text-align: left;
}

.MhPrXS3Yrf3ZK0NvKHq0 {
  font: var(--font-body-small-regular);
  text-align: left;
  color: var(--color-neutral-text-subtle);
}

@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._4aablz2 {
    position: relative;
    display: flex;
  }
  ._4aablz3 {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: var(--_7msrlr93);
    height: var(--_7msrlr93);
    opacity: 0;
    margin: 0;
    cursor: pointer;
  }
  ._4aablz5 {
    display: flex;
    align-items: flex-start;
    gap: var(--_7msrlr9l);
    cursor: pointer;
  }
  ._4aablz1 ._4aablz5 {
    cursor: not-allowed;
  }
  ._4aablz6 {
    font: var(--_7msrlr9t);
  }
  ._4aablz0 ._4aablz6 {
    color: var(--_7msrlr5m);
  }
  ._4aablz1 ._4aablz6 {
    color: var(--_7msrlr6v);
  }
  ._4aablz7 {
    flex-shrink: 0;
    background: var(--_7msrlr70);
    border: 1px solid var(--_7msrlr7c);
    box-sizing: border-box;
    border-radius: var(--_7msrlr8v);
    width: var(--_7msrlr93);
    height: var(--_7msrlr93);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--_7msrlr6x);
    position: relative;
    box-shadow: none;
    margin-block-start: calc((var(--_7msrlr8l) - var(--_7msrlr93)) / 2);
    transition: border-color 100ms ease-in-out;
  }
  ._4aablz7::after {
    content: "";
    display: block;
    width: var(--_7msrlr90);
    height: var(--_7msrlr90);
    border-radius: var(--_7msrlr8v);
    background: currentColor;
    opacity: 0;
  }
  ._4aablz3:focus ~ ._4aablz4 ._4aablz7 {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: var(--_7msrlr9i);
    border-color: var(--_7msrlr7c);
  }
  ._4aablz3:focus:not(:focus-visible) ~ ._4aablz4 ._4aablz7 {
    outline: none;
  }
  ._4aablz0 ._4aablz7 {
    background-color: var(--_7msrlr5q);
    border-color: var(--_7msrlr5x);
  }
  ._4aablz0 ._4aablz3:not(:disabled):not(:checked) ~ ._4aablz4 ._4aablz5:hover ._4aablz7 {
    border-color: var(--_7msrlr5x);
  }
  ._4aablz3:checked ~ ._4aablz4 ._4aablz7 {
    background-color: var(--_7msrlr68);
    border-color: var(--_7msrlr6c);
    color: var(--_7msrlr63);
  }
  ._4aablz3:checked ~ ._4aablz4 ._4aablz7::after {
    opacity: 1;
  }
  ._4aablz3:checked:disabled ~ ._4aablz4 ._4aablz7 {
    background-color: var(--_7msrlr75);
    border-color: var(--_7msrlr7b);
    color: var(--_7msrlr6v);
  }
  ._4aablz3:disabled ~ ._4aablz4 ._4aablz7 {
    background-color: var(--_7msrlr75);
    border-color: var(--_7msrlr7b);
  }
  ._4aablz8 {
    padding-inline-start: calc(var(--_7msrlr93) + var(--_7msrlr9l));
  }
}
._72o28x0 {
  width: 200px;
}
._72o28x1 {
  width: 72px;
}
._72o28x2 label + div {
  max-width: 200px;
}
.VD2N715kgArUEuDiwVQv {
  max-height: 60vh;
  border-radius: 0 0 var(--size-radius-small) var(--size-radius-small);
  overflow-y: auto;
  background: var(--color-neutral-bg-surface-sunken);
}

.a_cYdqYr92gJAhudfCeV {
  min-height: 400px;
}

.GDn4YgQ61KOACMELfvMg {
  padding: var(--size-spacing-xsmall) var(--size-spacing-small);
}

.I6i7nDSBhsLhsuSFvyFw {
  font: var(--font-body-small-regular);
  color: var(--color-neutral-text-subtle);
}

.Vq6te1oVJ5tl5T1rBHur {
  font: var(--font-body-medium-bold);
  color: var(--color-neutral-text-default);
  white-space: nowrap;
}

._hajWx2naJbPVbfXnkQz {
  color: var(--color-neutral-text-disabled);
}

.LqopNC9Fou2GILS_KbaY {
  margin-top: 10px;
  border-radius: var(--size-radius-small);
}

.NuKeJlI85ftnBIyq3tfW {
  width: 100px;
}

.Zz5AZPBuFaWwhVJHXEYw {
  width: 140px;
  min-width: 140px;
}

.cqZ9Ze2P15__vFVAtca1 {
  background: var(--color-neutral-bg-surface-flat);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 32px;
  font-weight: normal;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.NZj7eFCVThFzi04iuF9M {
  width: var(--size-core-64);
}

.f7hcPu6XT7VoJvO8EFOG {
  padding-right: var(--size-spacing-xlarge);
}
.lZyo0snTzKyGXBWmI2VB {
  display: flex;
}

.rY5LC7Nl1H78o8KB86j_ {
  max-width: 320px;
}

.ZwKpUHgn52xVnmWWdDsI {
  max-width: 100px;
}

.V3ndMKB_61q6qoTXyIgc {
  max-width: 140px;
}

.mB6zdLvjYFLEpUROQlrz {
  max-width: 64px;
}

.cryeJW_cq2v3N3e6NCuW {
  white-space: nowrap;
}

.xKvB8dJ631fX2nloMMkg {
  position: relative;
}

.xKvB8dJ631fX2nloMMkg::before {
    content: '';
    position: absolute;
    border-left: 1px solid var(--color-neutral-border-subtle);
    top: 52px;
    bottom: 0;
  }

.h4v0gO_wZzTcqqhHYYm4 {
  width: 172px;
}

.MbDYAfrTCCuQl8iK8nWe {
  width: 360px;
}
.iO7oa64sktLG_IP_EdEh {
  font: var(--font-paragraph-small);
}
.ppdV58L23qT2AZNLZnbE {
  font: var(--font-body-small-bold);
}

.MKZUGqaIl4h6C5SvZ97v td {
    word-break: break-word;
  }

.PMrJXp1tZE1jePE7P8zg {
  height: var(--size-core-48);
}

.flZKXaUxiEgtSEtGXx0T {
  font: var(--font-body-small-regular);
  color: var(--color-neutral-text-subtle);
}

.Y0JtBv3ybGsnYGlj_znh {
  white-space: nowrap;
}

.L896eDap5K9ja8pWgkYj {
  border-top: 1px solid var(--color-neutral-border-subtle);
}

.IHOzo6148ax298OsCDvR {
  max-width: 1440px;
  height: 80vh;
}

.BQVmmrXwRRjXHNMdUsXy {
  width: 100%;
  display: flex;
  padding-block: var(--size-spacing-xlarge);
  padding-inline-start: 40px;
  background: var(--color-neutral-bg-surface-sunken);
  flex-wrap: nowrap;
}

.BQVmmrXwRRjXHNMdUsXy .r560NXqwGB4IhyFKf6ZV {
    font: var(--font-body-medium-bold);
  }

.BQVmmrXwRRjXHNMdUsXy .wMRA5zGjMfXZvhGimdm1 {
    font: var(--font-body-medium-bold);
    color: var(--color-neutral-text-default);
    min-width: 100px;
    max-width: 230px;
    flex-basis: 40%;
    flex-shrink: 0;
  }

.BQVmmrXwRRjXHNMdUsXy .R5TjWVYQHH5LOFvgVJA8 {
    max-width: calc(2 * 360px + 64px);
    margin-inline-end: 64px;
  }

.BQVmmrXwRRjXHNMdUsXy .xQT1_wBx4cmZnPUSs975 {
    max-width: calc(2 * 360px + 64px);
    margin-inline-end: 64px;
    column-gap: 64px;
  }

.BQVmmrXwRRjXHNMdUsXy .zzLNo1les9dp4DKAu5NB {
    max-width: 360px;
  }

.BQVmmrXwRRjXHNMdUsXy .ajy9ePFXRFKWwYhrRK_0 {
    flex-grow: 1;
    min-width: 0;
  }

.rNA4z1MNgMIshCIl0gKp {
  box-sizing: border-box;
  padding: var(--size-spacing-xlarge) 0;
  width: 100%;
}

.rNA4z1MNgMIshCIl0gKp .JxAISGVX5Jh8_LsUIpoA {
    width: calc(2 * 360px + 64px);
  }

.iOJ_WkMREzZy6pYHOuN4 {
  max-width: 750px;
  font: var(--font-body-medium-regular);
  color: var(--color-neutral-text-subtle);
}

.rnEG8LzxLGb9hcl3AnTh {
  min-width: 750px;
}

.rnEG8LzxLGb9hcl3AnTh .UI5LByR6Z4GmcV2xddhT {
    display: flex;
    flex-wrap: nowrap;
  }

.v5d7r5bjxapjtiGu2WG3 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.M6SwtBNpdKR7HRqG_gqJ {
  padding-inline: 64px;
}

.RPojAOrMHTJLthQtvoJE {
  border-top: 1px solid var(--color-neutral-border-subtle);
  margin-inline: 0 48px;
}

.jCnN5idUnGHMIXVI4IZZ {
  max-width: 784px;
}

.rr_7DgVGU3_3UmNpoyKc {
  width: 100%;
  padding: 0 var(--size-spacing-medium) 0 64px;
}

.k3HuLPYowETzrNr9bo5q {
  background: var(--color-neutral-bg-accent-subtle-default);
  border: 1px solid var(--color-neutral-border-subtle);
}

@media (max-width: 1279px) {

.k3HuLPYowETzrNr9bo5q {
    width: calc(var(--widget-width-small) * 1px);
}
  }

@media (max-width: 767px) {

.k3HuLPYowETzrNr9bo5q {
    width: calc(var(--widget-width-smallest) * 1px);
}
  }

.k3HuLPYowETzrNr9bo5q {

  width: calc(var(--widget-width-default) * 1px);
  padding: var(--size-spacing-medium);
  box-sizing: border-box;
  height: 132px;
}

.B7kiR_WT0pgphVyI1BWL {
  display: flex;
  height: 40px;
  vertical-align: middle;
  align-items: center;
}

.B7kiR_WT0pgphVyI1BWL ._bVcDp5ENnTS5yYeUsm2 {
    font: var(--font-body-medium-bold);
    color: var(--color-neutral-text-default);
    align-items: center;
    width: calc(100% - 32px - 16px);
    overflow-y: hidden;
    max-height: 40px;
  }

.Fgw3dv3dtU4oxFeya0JO {
  box-sizing: border-box;
  width: 100%;
  padding-inline-start: 64px;
}

.Fgw3dv3dtU4oxFeya0JO .WllqPt51f8NM8ItsIt1k {
    font: var(--font-body-medium-bold);
    color: var(--color-neutral-text-default);
    min-width: 100px;
    max-width: 200px;
    flex-basis: 40%;
    flex-shrink: 0;
  }

.Fgw3dv3dtU4oxFeya0JO .IZ7yy4VM6OabPh1rW0OC {
    flex-grow: 1;
    min-width: 0;
    align-items: center;
  }

.iH82IF6HFbCdiL3TXP78 {
  width: 520px;
}

.E4NaGo1F3t2nNJFKuyCF {
  text-align: left;
}
.rDCDvuI18vv0s1x3hv5S {
  padding: var(--size-spacing-medium);
}
.rDCDvuI18vv0s1x3hv5S .AmHYgxmljOvmOWENLhHb {
    width: 32px;
  }
.rDCDvuI18vv0s1x3hv5S .zegVZGVqMnPRO4niJJZt {
    font: var(--font-body-medium-bold);
  }
.rDCDvuI18vv0s1x3hv5S .GyAiYKP3ykMSnqjgUwNw {
    color: var(--color-neutral-text-subtle);
  }

.BscUGULPRy6nphR5gp1Q {
  border: 1px solid;
  border-color: var(--color-info-border-subtle);
  background: var(--color-info-bg-accent-subtle-default);
}

.XBqZ7R1vK3rIru_A9rVS {
  font: var(--font-body-large-bold);
  margin-bottom: var(--size-spacing-xsmall);
}
.YKHp2HY_yek3XKjirIYe {
  font: var(--font-body-medium-regular);
}

.kXGicdZwwtb3fFSEJyb5 {
  float: right;
}

.R88b78GDkvqQh5d4MtIS {
  display: grid;

  justify-content: space-between;
  align-items: center;

  grid-template-columns: 33fr 1fr;
}

  .R88b78GDkvqQh5d4MtIS > div {
    margin: 0 15px 0 0;
  }

  .R88b78GDkvqQh5d4MtIS > div:last-child {
    margin: 0;
  }

  .R88b78GDkvqQh5d4MtIS .pz0OW0u6XZ4f42dKUDyT {
    position: absolute;
  }

  .R88b78GDkvqQh5d4MtIS .KFoEjsArdY0k008n0s8Q {
    width: 360px;
    min-width: 100px;
  }

  @media (max-width: 767px) {

  .R88b78GDkvqQh5d4MtIS .KFoEjsArdY0k008n0s8Q {
      width: 275px
  }
    }

  @media (max-width: 639px) {

  .R88b78GDkvqQh5d4MtIS .KFoEjsArdY0k008n0s8Q {
      width: 200px
  }
    }

  .R88b78GDkvqQh5d4MtIS .KFoEjsArdY0k008n0s8Q.y57RjumpbxVWcdEgjcEs {
      box-sizing: border-box;
      width: 100%;
      margin: auto;
      max-width: 1024px;
      padding: 0px 80px;
    }

  .R88b78GDkvqQh5d4MtIS .KFoEjsArdY0k008n0s8Q.y57RjumpbxVWcdEgjcEs > :first-child {
        margin-left: 8px;
      }

.G1dtbN4B5nW4P0w2_0ck {
  border-bottom: 1px solid var(--color-neutral-border-subtle);
}

.t0NDjWv9lEqg3JE9folt {
  display: flex;
  flex-direction: column;
  height: 100%;
}

  .t0NDjWv9lEqg3JE9folt .QahbjcFgyyza_eaDmbuY {
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    align-items: center;
    height: 56px;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--color-neutral-bg-surface-sunken);
    box-shadow: inset 0px -1px 0px var(--color-neutral-border-subtle);
  }

  .t0NDjWv9lEqg3JE9folt .LzB3X60ZAFH6EdXCYgaq {
    flex-shrink: 0;
    flex-grow: 0;

    padding: 4px 15px;
    font: var(--font-body-small-bold);
    color: var(--color-neutral-text-subtle);
    background-color: var(--color-neutral-bg-surface-sunken);
    box-shadow: inset 0px -1px 0px var(--color-neutral-border-subtle);
  }

  .t0NDjWv9lEqg3JE9folt .WVSKknejErTVAGmd3CqQ {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .t0NDjWv9lEqg3JE9folt .fF4FnoTnNMaGDjY6KKMs {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    overflow: hidden;
  }

  .t0NDjWv9lEqg3JE9folt .f3B3dCQgSvKCA_Vq1A7M {
    border-bottom: 1px solid var(--color-neutral-border-subtle);
    display: flex;
    padding: 16px 16px;
  }

  .t0NDjWv9lEqg3JE9folt .f3B3dCQgSvKCA_Vq1A7M button {
      flex-grow: 1;
    }

  .t0NDjWv9lEqg3JE9folt .L1cXhUcMZnidL5N2f2C3 {
    font: var(--font-body-medium-regular);
    padding: 0px 16px;
    color: var(--color-neutral-text-default);
  }

  .t0NDjWv9lEqg3JE9folt .oJR2l5NqLOVoCtZtcWiH button {
      margin: 16px;
    }

.TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU {
    height: 360px;
    width: 350px;
    position: relative;
  }

    .TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU .cbHfyKNzf6jJBgCUcJjD {
      padding: 16px;
    }

    .TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU .Z5YSaJMGovvzg3Iq32WP .ebX9cAEMWwM2bBe9jBMD {
        background-color: var(--color-highlight-bg-accent-subtle-default);
        color: var(--color-highlight-text-default);
      }

    .TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU .Z5YSaJMGovvzg3Iq32WP .oL99A2bH_D5m3aoJs5q3 {
        padding: 10px 16px;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: row;
        align-items: center;
        -webkit-text-decoration: none;
        text-decoration: none;
        height: 100%;
        font: var(--font-body-medium-bold);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

    .TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU .Z5YSaJMGovvzg3Iq32WP .oL99A2bH_D5m3aoJs5q3 .d7tQAXvN6K0_2OletxUA {
          color: var(--color-neutral-text-default);
          width: 100%;
        }

    .TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU .Z5YSaJMGovvzg3Iq32WP .oL99A2bH_D5m3aoJs5q3 .TiKNAN3Nk2juakTqsan5 {
          color: var(--color-neutral-text-default);
          width: 100%;
        }

    .TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU .Z5YSaJMGovvzg3Iq32WP .oL99A2bH_D5m3aoJs5q3:hover {
          background-color: var(--color-neutral-bg-accent-ghost-hover);
        }

    .TxcGG5Kp4f4ihArkHn6u .JzlL9Y3U9Os147c8DcbU .Z5YSaJMGovvzg3Iq32WP .oL99A2bH_D5m3aoJs5q3:active {
          background-color: var(--color-neutral-bg-accent-ghost-active);
        }
  .TxcGG5Kp4f4ihArkHn6u .lKgNOvHjLoXAcdGTf3t1 {
    border-radius: var(--size-radius-small) var(--size-radius-small) 0 0;
  }

.hl0FDEvuoQ1Kz2fdZ3_g {
  display: flex;
}

.vhn1gyfF_HKWEXaki5kF {
  border-top: 1px solid var(--color-neutral-border-subtle);
}

.fI9cJrp0t39qHNDiqxCQ {
  display: flex;
  align-items: flex-start;
}

.BQLcVjmj8Ckmsx2PDZ10 {
  display: flex;
  font: var(--font-body-medium-regular);
}

.WC2pNmh1lD0Y6rEApJz4 {
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.l82vwZxMKwCGSEksadGT {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200;
  color: var(--color-neutral-text-subtle);
}

.RCq20DADqCC0p_xdSq8g {
  color: var(--color-neutral-text-subtle);
}

.Z6GXihPoVWBRgcl6Ei1z {
  display: flex;
  padding: 8px;
}
  .Z6GXihPoVWBRgcl6Ei1z:hover {
    background-color: var(--color-neutral-bg-accent-ghost-hover);
  }

.EHNsNLqtRzExCVt26FmB {
  font: var(--font-body-small-bold);
  color: var(--color-neutral-text-default);
}

.YzuXoFQphjL5TeHUbqyp {
  font: var(--font-body-small-regular);
  text-align: left;
  color: var(--color-neutral-text-subtle);
}

.NYk6uLvik0RNcD0_P7PK {
  opacity: 0.5;
}

.l03579PWSbv0NdG__Rd2 {
  color: var(--color-neutral-text-default);
  display: flex;
  align-items: center;
  white-space: nowrap;
}
  .l03579PWSbv0NdG__Rd2:before {
    margin-right: var(--size-spacing-small);
    content: '\00B7';
  }

.Dzbsby7aUbcSHmB3jhbB {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .Dzbsby7aUbcSHmB3jhbB .CoxdnJr3VbEy5xbLnYY3 {
    font: var(--font-title-xlarge);
    text-align: center;
  }

  .Dzbsby7aUbcSHmB3jhbB .AUDxgcjS3wHoJ9cpLwGe {
    position: relative;
    height: 100%;
    width: 100%;
    top: -95%;
    background-image: linear-gradient(transparent, var(--color-neutral-bg-surface-flat));
  }

  .Dzbsby7aUbcSHmB3jhbB .YD28Rx7NHclFcix18h9Q {
    display: flexbox;
  }

  .Dzbsby7aUbcSHmB3jhbB .MOWKSAQtv504aj7ogyF7 {
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .Dzbsby7aUbcSHmB3jhbB .MOWKSAQtv504aj7ogyF7 .PqBoJcJj4ef9Tdz8eAXH {
      font: var(--font-title-small);
    }

  .Dzbsby7aUbcSHmB3jhbB .MOWKSAQtv504aj7ogyF7 .rsJRBwQCnG3v3Owpzd3a {
      font: var(--font-body-medium-regular);
    }

@media (max-width: 1279px) {

.AaHBxD9Nx6VkhJhNvhf6 {
    width: calc(var(--widget-width-small) * 1px);
}
  }

@media (max-width: 767px) {

.AaHBxD9Nx6VkhJhNvhf6 {
    width: calc(var(--widget-width-smallest) * 1px);
}
  }

.AaHBxD9Nx6VkhJhNvhf6 {
  width: calc(var(--widget-width-default) * 1px);
  max-width: 360px;
  background: var(--color-neutral-bg-accent-subtle-default);
  border: 1px solid var(--color-neutral-border-subtle);
  padding: 0 var(--size-spacing-medium) var(--size-spacing-medium) var(--size-spacing-medium);
  box-sizing: border-box;
  height: 144px;
}

.PcpoBNJVtAtHeACleOJo {
  font: var(--font-body-small-regular);
  color: var(--color-neutral-text-subtle);
  text-align: center;
}


/*# sourceMappingURL=5112.30862e9f7bcff363fb5d.css.map*/