@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1ohrhg11 {
    block-size: 100vh;
    box-sizing: border-box;
  }
  ._1ohrhg11._1ohrhg10 {
    padding-block-start: 65px;
  }
  ._1ohrhg12 {
    padding-inline-start: 0px;
  }
  ._1ohrhg13 {
    padding-inline-start: 0px;
  }
  ._1ohrhg14 {
    padding-inline-start: 65px;
  }
  ._1ohrhg15 {
    padding-inline-start: 256px;
  }
  ._1ohrhg16 {
    inline-size: 100%;
    block-size: 100%;
  }
  ._1ohrhg17 {
    flex-grow: 1;
    flex-shrink: 1;
    block-size: 100%;
    overflow: auto;
  }
  @media (max-width: 767px) {
    ._1ohrhg11._1ohrhg10 {
      padding-block-end: 0;
    }
    ._1ohrhg11 {
      padding-block-end: 65px;
    }
    ._1ohrhg12 {
      padding-block-end: 0px;
    }
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  .n19amu2 {
    position: fixed;
    inset: 0;
    display: block;
    z-index: calc(var(--_7msrlrav) - 1);
    background-color: var(--_7msrlr87);
  }
  .n19amu3 {
    position: fixed;
    z-index: var(--_7msrlrav);
    inset: 0;
    inset-block-start: auto;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .n19amu4 {
    background-color: var(--_7msrlr6z);
    border-block-end: 1px solid var(--_7msrlr7b);
    box-sizing: border-box;
    font: var(--_7msrlra8);
    height: 65px;
    line-height: 22px;
    padding-block: var(--_7msrlr91);
    position: sticky;
    top: 0;
    z-index: calc(var(--_7msrlrav) + 1);
  }
  .n19amu0 .n19amu4 {
    padding-inline: var(--_7msrlr91);
  }
  .n19amu1 .n19amu4 {
    background-color: var(--_7msrlr70);
    padding: var(--_7msrlr91);
    padding-block: var(--_7msrlr9l);
    position: fixed;
    inset: 0 0 auto 0;
  }
  .n19amu5 {
    box-sizing: border-box;
    background-color: var(--_7msrlr68);
    color: var(--_7msrlr60);
    border-radius: var(--_7msrlr8u);
    height: var(--_7msrlr9b);
    padding: var(--_7msrlr9l);
    width: var(--_7msrlr9b);
  }
  .n19amu5 > svg {
    display: block;
    height: 24px;
    width: 24px;
  }
  .n19amu6 {
    position: relative;
    z-index: var(--_7msrlrav);
    flex-grow: 1;
  }
  .n19amu6.n19amu1 {
    position: fixed;
    inset: 0;
    inset-inline-end: auto;
    inset-block-start: 65px;
    width: calc(65px - 1px);
    overflow: auto;
    background-color: var(--_7msrlr6z);
    border-inline-end: 1px solid var(--_7msrlr7b);
  }
  .n19amu6.n19amu1.n19amu0 {
    width: 256px;
  }
  .n19amu7 {
    border-block-start: 1px solid var(--_7msrlr7b);
    padding-block: var(--_7msrlr91);
  }
  .n19amu4 .n19amu7, .n19amu7:first-child {
    border-block-start: 0;
  }
  .n19amu8 {
    appearance: none;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--_7msrlr6w);
    font: var(--_7msrlr9u);
    min-height: var(--_7msrlr9b);
    padding: var(--_7msrlr9l);
    position: relative;
    z-index: 0;
    text-align: start;
    width: var(--_7msrlr9b);
    border-radius: var(--_7msrlr8u);
  }
  .n19amu8::before {
    content: "";
    background-color: transparent;
    border-radius: var(--_7msrlr8u);
    inset: 0;
    position: absolute;
    z-index: -1;
    transition: 100ms ease-out;
    transition-property: background-color, color;
  }
  .n19amu8:hover {
    color: var(--_7msrlr6x);
  }
  .n19amu8:hover::before {
    background-color: var(--_7msrlr73);
  }
  .n19amu8:active::before {
    background-color: var(--_7msrlr74);
  }
  .n19amu8:is(a) {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  .n19amu8:is(a):hover {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  .n19amu8:focus {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: var(--_7msrlr9i);
  }
  .n19amu8:focus:not(:focus-visible) {
    outline: none;
  }
  .n19amu0 .n19amu8 {
    margin-inline: var(--_7msrlr91);
    width: calc(100% - (var(--_7msrlr91) * 2));
  }
  .n19amu4 .n19amu8 {
    margin-inline: 0;
    width: var(--_7msrlr9b);
  }
  .n19amu9 {
    min-width: 0;
    overflow-wrap: break-word;
  }
  .n19amua {
    color: var(--_7msrlr6t);
  }
  .n19amu3 .n19amub {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--_7msrlr6z);
    border-block-start: 1px solid var(--_7msrlr7b);
    bottom: 0;
    box-sizing: border-box;
    height: var(--_7msrlr9e);
    padding-block: var(--_7msrlr9l);
    position: sticky;
    top: calc(100% - var(--_7msrlr9e));
    z-index: 1;
  }
  .n19amu0 .n19amub {
    align-items: stretch;
  }
  .n19amuc {
    margin-block: var(--_7msrlr9l);
    width: 100%;
  }
  .n19amu4 .n19amuc {
    width: 1px;
  }
  .n19amu4 .n19amuc::after {
    height: 24px;
    min-width: 1px;
  }
  @media (min-width: 768px) {
    .n19amu3.n19amu0 {
      width: 256px;
    }
    .n19amu3.n19amu1 {
      background-color: transparent;
      border-inline-end: none;
      width: auto;
    }
    .n19amu3 {
      position: fixed;
      inset: 0;
      inset-inline-end: auto;
      height: 100%;
      width: 65px;
      background-color: var(--_7msrlr6z);
      border-inline-end: 1px solid var(--_7msrlr7b);
    }
  }
  @media (max-width: 767px) {
    .n19amu1 .n19amu4 {
      border-block-end: 1px solid var(--_7msrlr7b);
      border-block-start: none;
    }
    .n19amu4 {
      padding: var(--_7msrlr91);
      background-color: var(--_7msrlr72);
      border-block-start: 1px solid var(--_7msrlr7b);
      border-block-end: none;
    }
    .n19amu6.n19amu1 {
      inset-block-end: 0;
      inset-block-start: 65px;
      background-color: var(--_7msrlr72);
      border-inline-end: none;
    }
    .n19amu6 {
      position: fixed;
      inset: 0;
      inset-inline-end: auto;
      inset-block-end: 65px;
      width: 256px;
      background-color: var(--_7msrlr72);
      overflow: auto;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .n19amu8::before {
      transition: none;
    }
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  .ve7kmf0 {
    height: 12px;
    width: auto;
  }
  .ve7kmf1 {
    height: 20px;
    width: auto;
  }
  .ve7kmf2 {
    height: 22.81px;
    width: auto;
  }
  .ve7kmf3 {
    height: 38px;
    width: auto;
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1zry8b8 {
    box-sizing: border-box;
    background-color: var(--_7msrlr78);
    color: var(--_7msrlr6y);
    border-radius: var(--_7msrlr8u);
    z-index: var(--_7msrlrau);
    padding-inline: var(--_7msrlr9l);
    padding-block: calc((32px - var(--_7msrlr8l)) / 2);
    max-width: 320px;
    box-shadow: var(--_7msrlrar);
    font: var(--_7msrlr9t);
  }
  ._1zry8b8:is(._1zry8b2, ._1zry8b3) {
    transition: 100ms ease-in-out;
    transition-property: transform, opacity;
  }
  ._1zry8b8:is(._1zry8b1, ._1zry8b3) {
    opacity: 0;
  }
  ._1zry8b8._1zry8b6:is(._1zry8b1, ._1zry8b3) {
    transform: translateX(var(--_7msrlr9k));
  }
  ._1zry8b8._1zry8b7:is(._1zry8b1, ._1zry8b3) {
    transform: translateX(calc(var(--_7msrlr9k) * -1));
  }
  ._1zry8b8._1zry8b4:is(._1zry8b1, ._1zry8b3) {
    transform: translateY(var(--_7msrlr9k));
  }
  ._1zry8b8._1zry8b5:is(._1zry8b1, ._1zry8b3) {
    transform: translateY(calc(var(--_7msrlr9k) * -1));
  }
  ._1zry8b9 {
    position: absolute;
    width: 8.48528137423857px;
    height: 8.48528137423857px;
    transform: rotate(45deg);
    background-color: inherit;
  }
  @media (prefers-reduced-motion: reduce) {
    ._1zry8b8:is(._1zry8b2, ._1zry8b3) {
      transition-duration: 0ms;
    }
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1lta4mg0 {
    font: var(--_7msrlr9t);
    min-width: 0;
  }
  ._1lta4mg1 {
    max-width: 100%;
  }
  ._1lta4mg2 {
    margin-block-start: calc(((24px - var(--_7msrlr8l)) / 2) * -1);
    margin-block-end: calc(((24px - var(--_7msrlr8l)) / 2) * -1);
    border-radius: var(--_7msrlr8t);
  }
  ._1lta4mg6 {
    font: var(--_7msrlr9u);
    color: var(--_7msrlr6x);
    cursor: default;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  ._1lta4mg4 ._1lta4mg6 {
    color: var(--_7msrlr5m);
  }
  ._1lta4mg5 ._1lta4mg6 {
    color: var(--_7msrlr6v);
  }
  ._1lta4mg7 {
    min-width: 0;
    width: 100%;
  }
  ._1lta4mg8 {
    position: relative;
    min-width: 0;
    width: 100%;
  }
  ._1lta4mg9 {
    font: var(--_7msrlr9u);
    background-color: var(--_7msrlr72);
    box-shadow: var(--_7msrlrar);
    border-radius: var(--_7msrlr8u);
    margin-top: var(--_7msrlr9k);
    position: relative;
    z-index: var(--_7msrlrau);
  }
  ._1lta4mga {
    bottom: calc(100% + var(--_7msrlr9k));
  }
  ._1lta4mgb {
    top: calc(100% + var(--_7msrlr9k));
  }
  ._1lta4mgc {
    width: 100%;
  }
  ._1lta4mgd {
    width: auto;
    min-width: 120px;
    max-width: 200px;
  }
  ._1lta4mge {
    width: auto;
    min-width: 200px;
    max-width: 320px;
  }
  ._1lta4mgf {
    width: auto;
    min-width: 320px;
    max-width: 400px;
  }
  ._1lta4mgg {
    width: auto;
    min-width: 400px;
    max-width: 512px;
  }
  ._1lta4mgh {
    display: flex;
    flex-direction: column;
    gap: var(--_7msrlr9k);
    overflow-y: auto;
    position: relative;
    padding: var(--_7msrlr9l);
  }
  ._1lta4mgk {
    outline: none;
    background-color: transparent;
    color: inherit;
    padding: 6px var(--_7msrlr9l);
    padding-inline-end: calc((var(--_7msrlr9m) * 2) + var(--_7msrlr9l));
    width: 100%;
    -webkit-user-select: none;
            user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: var(--_7msrlr8u);
  }
  ._1lta4mgk:is(._1lta4mgi) {
    color: var(--_7msrlr6x);
    background-color: var(--_7msrlr73);
  }
  ._1lta4mgk:is(._1lta4mgj) {
    cursor: default;
    color: var(--_7msrlr62);
    background-color: var(--_7msrlr65);
  }
  ._1lta4mgk:is(._1lta4mg5) {
    cursor: default;
    color: var(--_7msrlr6v);
    background-color: transparent;
  }
  ._1lta4mgl {
    display: flex;
    gap: var(--_7msrlr9l);
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: var(--_7msrlr70);
    border: 1px solid var(--_7msrlr7c);
    border-radius: var(--_7msrlr8u);
    transition: border-color 100ms ease-in-out;
    padding: calc(((var(--_7msrlr99) - var(--_7msrlr8l)) - (1px * 2)) / 2) calc(var(--_7msrlr90) - 1px);
  }
  ._1lta4mgl:hover {
    border-color: var(--_7msrlr7c);
  }
  ._1lta4mgl:is(._1lta4mgi), ._1lta4mgl:is(._1lta4mgi):hover {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: var(--_7msrlr9i);
    border-color: var(--_7msrlr7c);
  }
  ._1lta4mg3 ._1lta4mgl {
    padding: calc(((var(--_7msrlr9b) - var(--_7msrlr8l)) - (1px * 2)) / 2) calc(var(--_7msrlr91) - 1px);
  }
  ._1lta4mg4 ._1lta4mgl {
    border-color: var(--_7msrlr5x);
    background-color: var(--_7msrlr5q);
  }
  ._1lta4mg5 ._1lta4mgl {
    background-color: var(--_7msrlr75);
    border-color: var(--_7msrlr7b);
  }
  ._1lta4mgm {
    color: var(--_7msrlr6w);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  ._1lta4mg5 ._1lta4mgm {
    color: var(--_7msrlr6v);
  }
  ._1lta4mgn {
    color: var(--_7msrlr6w);
    cursor: default;
    display: block;
    font: var(--_7msrlr9r);
    padding: var(--_7msrlr9l) var(--_7msrlr9m);
    width: 100%;
    -webkit-user-select: none;
            user-select: none;
    box-sizing: border-box;
    text-align: center;
  }
  ._1lta4mgo {
    min-width: 0;
  }
  ._1lta4mgp {
    width: 100%;
  }
  ._1lta4mgq {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: var(--_7msrlr8l);
    width: var(--_7msrlr9m);
  }
  ._1lta4mgr {
    color: var(--_7msrlr6t);
  }
  ._1lta4mg5 ._1lta4mgr {
    color: var(--_7msrlr6v);
  }
  ._1lta4mgs {
    position: absolute;
    inset-inline-end: var(--_7msrlr9m);
    color: var(--_7msrlr5y);
    height: var(--_7msrlr8l);
    opacity: 0;
  }
  ._1lta4mgk:not(._1lta4mg5):not(._1lta4mgj):hover ._1lta4mgs {
    opacity: 0.3;
  }
  ._1lta4mgj ._1lta4mgs {
    opacity: 1;
  }
  ._1lta4mgt {
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--_7msrlr6x);
  }
  ._1lta4mg5 ._1lta4mgt {
    color: var(--_7msrlr6v);
  }
  ._1lta4mgu {
    width: 100%;
  }
  ._1lta4mgv {
    display: flex;
    flex-direction: column;
    gap: var(--_7msrlr9k);
  }
  ._1lta4mgv > div {
    display: flex;
    flex-direction: column;
    gap: var(--_7msrlr9k);
  }
  ._1lta4mgw {
    --dsh9x40: var(--_7msrlr9l);
  }
  ._1lta4mgx {
    position: sticky;
    top: calc(var(--_7msrlr9l) * -1);
    margin-top: calc(var(--_7msrlr9l) * -1);
    background-color: var(--_7msrlr72);
  }
  ._1lta4mgy {
    position: sticky;
    bottom: calc(var(--_7msrlr9l) * -1);
    margin-bottom: calc(var(--_7msrlr9l) * -1);
    background-color: var(--_7msrlr72);
  }
  ._1lta4mgz {
    position: absolute;
    pointer-events: none;
    inset-block-start: 0;
    inset-inline-end: 3px;
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._15in7qo0 {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--_7msrlr8v);
    font: var(--_7msrlr9s);
    padding-inline: var(--_7msrlr9k);
    flex-shrink: 0;
    white-space: nowrap;
  }
  ._15in7qo1 {
    height: var(--_7msrlr95);
    min-width: var(--_7msrlr95);
  }
  ._15in7qo2 {
    height: var(--_7msrlr96);
    min-width: var(--_7msrlr96);
    font: var(--_7msrlr9u);
  }
  ._15in7qo3 {
    background-color: var(--_7msrlr75);
    color: var(--_7msrlr6w);
  }
  ._15in7qo4 {
    background-color: var(--_7msrlr65);
    color: var(--_7msrlr62);
  }
  ._15in7qo5 {
    background-color: var(--_7msrlr6k);
    color: var(--_7msrlr6h);
  }
  ._15in7qo6 {
    background-color: var(--_7msrlr5q);
    color: var(--_7msrlr5n);
  }
  ._15in7qo7 {
    background-color: var(--_7msrlr7k);
    color: var(--_7msrlr7h);
  }
  ._15in7qo8 {
    background-color: var(--_7msrlr7z);
    color: var(--_7msrlr7w);
  }
  ._15in7qo9 {
    color: var(--_7msrlr6v);
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._1ncvr6o0 {
    border-radius: var(--_7msrlr8v);
    height: var(--_7msrlr9l);
    width: var(--_7msrlr9l);
  }
  ._1ncvr6o1 {
    background-color: var(--_7msrlr78);
  }
  ._1ncvr6o2 {
    background-color: var(--_7msrlr68);
  }
  ._1ncvr6o3 {
    background-color: var(--_7msrlr7n);
  }
  ._1ncvr6o4 {
    background-color: var(--_7msrlr82);
  }
  ._1ncvr6o5 {
    background-color: var(--_7msrlr6n);
  }
  ._1ncvr6o6 {
    background-color: var(--_7msrlr5t);
  }
  ._1ncvr6o7 {
    background-color: var(--_7msrlr6v);
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  .tsugzx0 {
    display: flex;
    align-items: flex-start;
    padding: calc(var(--_7msrlr9l) - 1px) calc(var(--_7msrlr9m) - 1px);
    border-radius: var(--_7msrlr8u);
    border: 1px solid;
  }
  .tsugzx1 {
    border-color: var(--_7msrlr6q);
    background-color: var(--_7msrlr6k);
    color: var(--_7msrlr6g);
  }
  .tsugzx2 {
    border-color: var(--_7msrlr7q);
    background-color: var(--_7msrlr7k);
    color: var(--_7msrlr7g);
  }
  .tsugzx3 {
    border-color: var(--_7msrlr85);
    background-color: var(--_7msrlr7z);
    color: var(--_7msrlr7v);
  }
  .tsugzx4 {
    border-color: var(--_7msrlr5w);
    background-color: var(--_7msrlr5q);
    color: var(--_7msrlr5m);
  }
  .tsugzx5 {
    width: 16px;
    height: 16px;
    margin-inline-end: var(--_7msrlr9m);
    margin-block-start: calc((var(--_7msrlr8l) - 16px) / 2);
  }
  .tsugzx1 .tsugzx5 {
    color: var(--_7msrlr6d);
  }
  .tsugzx2 .tsugzx5 {
    color: var(--_7msrlr7d);
  }
  .tsugzx3 .tsugzx5 {
    color: var(--_7msrlr7s);
  }
  .tsugzx4 .tsugzx5 {
    color: var(--_7msrlr5j);
  }
  .tsugzx6 {
    font: var(--_7msrlr9u);
    margin-block-end: var(--_7msrlr9k);
  }
  .tsugzx7 {
    font: var(--_7msrlr9t);
    flex-grow: 1;
  }
}
@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._6b5xaw8 {
    box-sizing: border-box;
    background-color: var(--_7msrlr72);
    color: var(--_7msrlr6x);
    z-index: var(--_7msrlrau);
    max-width: 350px;
    filter: drop-shadow(var(--_7msrlral)) drop-shadow(var(--_7msrlraj)) drop-shadow(var(--_7msrlrai));
    box-shadow: var(--_7msrlrao), var(--_7msrlrap);
    text-align: left;
    font: var(--_7msrlr9t);
  }
  ._6b5xaw8:is(.bcebr80) {
    display: flex;
  }
  ._6b5xaw8:focus {
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: var(--_7msrlr9i);
  }
  ._6b5xaw8:focus:not(:focus-visible) {
    outline: none;
  }
  ._6b5xaw8:is(._6b5xaw2, ._6b5xaw3) {
    transition: 100ms ease-in-out;
    transition-property: transform, opacity;
  }
  ._6b5xaw8:is(._6b5xaw1, ._6b5xaw3) {
    opacity: 0;
  }
  ._6b5xaw8._6b5xaw6:is(._6b5xaw1, ._6b5xaw3) {
    transform: translateX(var(--_7msrlr9k));
  }
  ._6b5xaw8._6b5xaw7:is(._6b5xaw1, ._6b5xaw3) {
    transform: translateX(calc(var(--_7msrlr9k) * -1));
  }
  ._6b5xaw8._6b5xaw4:is(._6b5xaw1, ._6b5xaw3) {
    transform: translateY(var(--_7msrlr9k));
  }
  ._6b5xaw8._6b5xaw5:is(._6b5xaw1, ._6b5xaw3) {
    transform: translateY(calc(var(--_7msrlr9k) * -1));
  }
  ._6b5xaw9 {
    position: absolute;
    z-index: -1;
    width: 8.48528137423857px;
    height: 8.48528137423857px;
    transform: rotate(45deg);
    background-color: inherit;
  }
  ._6b5xawa {
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
  }
  @media (prefers-reduced-motion: reduce) {
    ._6b5xaw8:is(._6b5xaw2, ._6b5xaw3) {
      transition-duration: 0ms;
    }
  }
}
.MgBK3lncMOnjf1jw5uYu {
  padding-top: var(--size-spacing-xlarge);
  padding-bottom: var(--size-spacing-xlarge);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.YBv5YxgElFOiOxw46iR_ {
  padding-top: var(--size-spacing-xlarge);
}

.j8ZtgpkSfxlV7kEmq6zo {
  align-self: stretch;
}

.fxuEemZXUs7S3YEJIDhg {
  align-self: stretch;
}

.fGe4Sop_63Y4yTRi2Ke9 {
  padding-top: var(--size-spacing-xlarge);
  padding-bottom: var(--size-spacing-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.G3Eqc_4DI8h0cYFhRO_C {
  padding-top: var(--size-spacing-xxlarge);
}

.ZHK1KZRXdvRPU0SXqIgA {
  font-weight: var(--font-weight-medium);
}

.pCEiptr_eyM0CISbbMr1 {
  max-width: 432px;
}

.KBwrmMjFat7QK6bVnPeR {
  width: 100%;
}

.rd_Xy54VNZP7KRhIJsSY {
  width: var(--size-spacing-xlarge);
  height: var(--size-spacing-xlarge);
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 0;
}

@layer _1a8mlic1;
@layer _1a8mlic1 {
  ._4i8u7n4 {
    display: block;
    z-index: var(--_7msrlrau);
    background-color: var(--_7msrlr87);
    overflow: hidden !important;
    will-change: background-color;
    opacity: 1;
  }
  ._4i8u7n4._4i8u7n2, ._4i8u7n4._4i8u7n3 {
    transition: background-color 250ms ease-in-out;
  }
  ._4i8u7n4._4i8u7n1, ._4i8u7n4._4i8u7n3 {
    background-color: rgba(0,0,0,0);
  }
  ._4i8u7n8 {
    flex-direction: column;
    position: fixed;
    z-index: var(--_7msrlrau);
    inset: 0 0 0 auto;
    width: 400px;
    height: 100%;
    background-color: var(--_7msrlr70);
    border-inline-start: 1px solid var(--_7msrlr7b);
    box-sizing: border-box;
    outline: none !important;
  }
  ._4i8u7n8:is(.bcebr80) {
    display: flex;
  }
  ._4i8u7n8._4i8u7n7 {
    inset: 65px 0 0 auto;
    height: calc(100% - 65px);
  }
  ._4i8u7n8._4i8u7n5 {
    max-width: 100%;
    border-inline-start: none;
    background-color: var(--_7msrlr72);
    box-shadow: var(--_7msrlrar);
    inset-block-start: 0;
    height: 100%;
  }
  ._4i8u7n8:focus::before {
    content: "";
    display: block;
    pointer-events: none;
    position: sticky;
    z-index: 3;
    height: 100%;
    margin-block-start: -100vh;
    inset: 0;
    outline: var(--_7msrlr9j) solid var(--_7msrlr88);
    outline-offset: -4px;
    flex-shrink: 0;
  }
  ._4i8u7n8:focus:not(:focus-visible)::before {
    outline: none;
  }
  ._4i8u7n8._4i8u7n2, ._4i8u7n8._4i8u7n3 {
    transition: transform 250ms ease-in-out;
  }
  ._4i8u7n8._4i8u7n1, ._4i8u7n8._4i8u7n3 {
    transform: translateX(100%);
  }
  ._4i8u7n9 {
    background-color: inherit;
    border-block-end: 1px solid var(--_7msrlr7b);
    position: sticky;
    z-index: 2;
    top: 0;
  }
  ._4i8u7n6 ._4i8u7n9 {
    border-block-end-color: transparent;
  }
  ._4i8u7na {
    position: relative;
    z-index: 3;
  }
  ._4i8u7nb {
    flex-grow: 1;
  }
  ._4i8u7nc {
    flex-grow: 1;
  }
  ._4i8u7nd {
    background-color: inherit;
    border-block-start: 1px solid var(--_7msrlr7b);
    position: sticky;
    z-index: 2;
    bottom: 0;
  }
  ._4i8u7n6 ._4i8u7nd {
    border-block-start-color: transparent;
  }
  ._4i8u7nf {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    transition: width 250ms ease-in-out;
    width: 0;
  }
  ._4i8u7nf._4i8u7ne {
    border-inline-start: 1px solid var(--_7msrlr7c);
    width: 400px;
  }
  ._4i8u7ng {
    position: absolute;
    inset: 0;
  }
  ._4i8u7ng.t94rav0 {
    background-color: inherit;
  }
  @media (prefers-reduced-motion: reduce) {
    ._4i8u7n4._4i8u7n2, ._4i8u7n4._4i8u7n3 {
      transition-duration: 0ms;
    }
    ._4i8u7n8._4i8u7n2, ._4i8u7n8._4i8u7n3 {
      transition-duration: 0ms;
    }
    ._4i8u7nf {
      transition-duration: 0ms;
    }
  }
}

/*# sourceMappingURL=5794.0c569d46add957a98d7d.css.map*/